<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/main.css">
</head>
<body>
    <% if (error_msg) { %>
        <div class="flash-message alert-danger"><%= error_msg %></div>
      <% } %>
      <% if (success_msg) { %>
        <div class="flash-message alert-success"><%= success_msg %></div>
      <% } %>
    <h2>Reset Password</h2>
    <form method="POST" action="/user/reset-password/<%= token %>">
  <input type="password" name="password" placeholder="New Password" required />
  <button type="submit">Reset Password</button>
</form>
</body>
</html>
